@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

body {
      max-width: 736px;
      min-width: 320px;
      content: "";
      display: table;
      clear: both;
      margin: 0;
}
div {
  display: block;
}
header.clearfix {
  width: auto;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

}
