h1 {
  color: #720E99;
  font-family: helvetica;
  font-size: 24 px;
}

h3 {
  color: #720E99;
  font-family: helvetica;
  font-size: 30 pt;
}

h3:before{
  content: '\21a6';
}

h3:hover:before {
  content: '\21a7';
}

h4 {
  color: #8B4C8F;
  font-family: helvetica;
  font-size: 14 pt;
}

h5 {
  color: #977099;
  font-family: helvetica;
  font-size: 12 pt;
}

p {
  font-family: helvetica;
  font-size: 11 pt;
}
