body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47A3DA;
}
.clearfix, .main { /* margins & padding for header & div.main */
  margin-left: auto;
  margin-right: auto;
  padding: 46px 30px 30px 30px;
  width: 90%;
}
header > span { /* "Blueprint" */
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
header > h1 {
  font-size: 36px;
  margin-top: 5px;
}
header > nav {
  float: right;
}
/*#cbp-vm {
  border: solid #47A3DA;
}*/
.cbp-vm-options { /* grid & list buttons */
  /*float: right;*/
  text-align: right;
  padding-bottom: 20px;
  border-bottom: solid #47A3DA;

}
#cbp-vm {
  padding: 20px 20px 0 20px;
}
ul > li {
  /*float: left;
  width: 33%;
  list-style-type: none;
  text-align: center;*/
}
.main::after {
  content: "";
  display: table;
  clear: both;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.cbp-vm-view-grid li {
  padding: 25px;
  margin-top: 20px;
  float: left;
  width: 33%;
  list-style-type: none;
  text-align: center;
}
.main {
  padding: 0 30px 50px 30px;
  border: solid #47A3DA;
}
.cbp-vm-grid::before { /* grid button icon */
  content: "\f00a";
}
.cbp-vm-list::before { /* list button icon */
  content: "\f00b";
}
.cbp-vm-icon::before {
  font-family: 'fontawesome';
}
.cbp-vm-options a {
  display: inline-block;
  color: gray;
  width: 40px;
  height: 40px;
}

/* ! ----------------- LIST VIEW --------------------- */

ul > li {
  /*float: left;
  width: 33%;
  list-style-type: none;
  text-align: center;*/
}
.main::after {
  content: "";
  display: table;
  clear: both;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.cbp-vm-view-list li {
  white-space: nowrap; /* `nowrap` prevents text from wrapping */
  /*vertical-align: middle;*/
  padding: 20px 0;
  width: 99%;
  margin-top: 0;
  float: left;
  list-style-type: none;
}
.cbp-vm-view-list li a, .cbp-vm-view-list li h3, .cbp-vm-view-list li div {
  padding-right: 20px;
  display: inline-block;
}
.cbp-vm-view-list li:last-of-type {
  padding-right: 0;
  vertical-align: middle;
}
.cbp-vm-view-list .cbp-vm-image {
  width: 10%;
  vertical-align: middle;
  margin: 0;
}
.cbp-vm-image img {
  max-width: 100%;
}
.cbp-vm-view-list .cbp-vm-title {
  width: 20%;
  vertical-align: middle;
  margin: 0;
}
.cbp-vm-view-list .cbp-vm-price {
  width: 10%;
  vertical-align: middle;
  margin: 0;
}
.cbp-vm-view-list .cbp-vm-details {
  width: 50%;
  vertical-align: middle;
  overflow: hidden; /* `overflow` controls what happens to content that breaks outside of its bounds | `hidden` overflowing content will be hidden */
  white-space: normal; /* `white-space` controls how text is handled on the element it is applied to | `normal` will wrap the text */
  margin: 0;
}
.cbp-vm-view-list .cbp-vm-add {
  width: 10%;
  vertical-align: middle;
  margin: 0;
}
/*.main {*/
  /*padding: 0 30px 50px 30px;
  border: solid #47A3DA;*/

/*.cbp-vm-grid::before {
  content: "\f00a";
}
.cbp-vm-list::before {
  content: "\f00b";
}
.cbp-vm-icon::before {
  font-family: 'fontawesome';
}
.cbp-vm-options a {
  display: inline-block;
  color: gray;
  width: 40px;
  height: 40px;
}*/









[class*='column-'] { /* selects all columns and makes them next to eachother */
  /*float: left;*/
  width: 33%;
}

/* Clear content- parent element (div.grid) will collapse to zero height since
it only has floated children. Fixes by clearing it */
.grid::after {
  content: "";
  display: table;
  clear: both;
}

/* GUTTERS */
/* 1st step */
/**, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%
} /* now when we set w, that element stays that w, */
/*despite padding or borders being applied.*/

/* 2nd step- apply fixed padding to right side of all columns except last one */
[class*='column-'] {
  padding-right: 20px;
}
[class*='column-']:last-of-type {
  padding-right: 0;
}

/* OUTSIDE GUTTERS */
/* 1st step- add padding to grid parent */
.grid-pad {
  padding: 20px 0 20px 20px 20px;
}
/* 2nd step- restore right pading to last column */
.grid-pad > [class*='column-']:last-of-type {
  padding-right: 20px;
}
