@media only screen and (min-device-width: 320px){

.cbp-mc-column {
  max-width: 480px;
  min-width: 320px;
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

header.clearfix { /* "Responsive Multi-Column Form" */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
}

/*div.cbp-mc-column { /* columns */
  /*width: 90%;
  /*float: left;*/
  /*margin-left: auto;
  margin-right: auto;
}*/
