body {
  background-color: #47A3DA;
  /*margin-left: 90px;*/
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

h1 { /* "Responsive Multi-Column Form" */
  font-family: 'Lato', Arial, sans-serif;
  font-size: 28pt;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

label { /* field names */
  font-family: 'Lato', Arial, sans-serif;;
  font-size: 12pt;
  color: #FFFFFF;
  text-transform: uppercase;
}

div.cbp-mc-column { /* columns */
  width: 30%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 300px;
  height: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  background-color: #47A3DA;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 10%;
}

textarea {
  width: 300px;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  background-color: #47A3DA;
  padding: 10px;
  margin-bottom: 10%;
}

select {
  width: 300px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background-color: #47A3DA;
  padding: 10px;
  margin-bottom: 10%;
}

input.cbp-mc-submit { /* submit button */
  background-color: #10689a;
  border: none;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

/*.cbp-mc-submit-wrap {
 margin-left: auto;
 margin-right: auto;
 width: 30%;
 height: 97px;
 text-align: center;
}*/

/*input.cbp-mc-submit { /* SUBMIT BUTTON */*/
 /*background-color: #10689a ;
 font-family: 'Lato', sans-serif;
 text-align: center;
 border: none;
 color: #ffffff ;
 box-sizing: border-box;
 font-size: 11px;
 max-width: 30%;
 text-transform: uppercase;
 padding: 20px 15px;
}*/

/*.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select,{
  width: auto;
  float: left;
  margin: 10px;
  text-align: left;
}*/

/*header {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}*/

/*form {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}*/
