@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .cbp-mc-column {
      max-width: 768px;
      min-width: 1024px;
      content: "";
      display: table;
      width: 50%;
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }

    header.clearfix { /* "Responsive Multi-Column Form" */
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
    }
}
