body {
  width: auto;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47A3DA;

  .container {
    margin: 0 10%;

    .grid {
      width: auto;

      &:after{
        content: "";
        display: table;
        clear: both;
      }

      [class*="box"] { /* selects all columns */
          float: left; /* makes columns next to eachother */
          width: 30%; /* same width for all 12 boxes */
          padding-right: 20px; /* applies fixed padding to right of all columns.. */
          list-style-type: none;
          border: gray solid 1px;

            &:last-of-type { /* ...except last on */
              // padding-right: 0;
            }
        }
    }
  }
}
