.grid {
  ul.iconGrid {
    list-style-type: none;
    text-align: center;
    padding-top: 10px;

    li {
      padding: 30px 5px;

      .box-1 {
        border-right: gray solid 1px;
        border-bottom: gray solid 1px;
      }
      .box-2 {
        border-right: gray solid 1px;
        border-bottom: gray solid 1px;
      }
      .box-3 {
        border-bottom: gray solid 1px;
      }
      .box-4 {
        border-right: gray solid 1px;
      }
      .box-5 {
        border-right: gray solid 1px;
      }
      // .box-6 {
      //   border-right: gray solid 1px;
      // }
    }

    a[href] {
      text-decoration: none;
    }

    hr {
      color: #47A3DA;
    }

    h3 {
      color: #47A3DA;
      font-size: 2em;
    }

    span {
      &.fa {
        color: #47A3DA;
        font-size: 4em;
      }
      &.category {
        color: #47A3DA;
        text-transform: uppercase;
      }
    }
  }
}
