// @media only screen and (min-device-width: 1200px) {
//
// }

header {
  margin: 0 30px;
  padding: 10px 20px;
  line-height: 1;
}

nav.tabs {
    box-sizing: border-box;
    margin-left: 10px;
    border: 1px;

    a[href] {
      display: inline-block;
      margin: 0.5em;
      margin-right: 0.5em;
      padding: 1ex 2em;
      text-decoration: none;
      color: gray;
      font-weight: bolder;
    }
  }

section.contentPanels {
  border-top: 2px solid #47A3DA;
}

[class*='panel'] {
  display: none;
}
